doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    title Barcode  Scanner
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='/main.css')

    script(src='https://code.jquery.com/jquery-3.3.1.min.js', crossorigin='anonymous', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=')
    //- script(src='https://code.jquery.com/jquery-3.3.1.min.js', crossorigin='anonymous', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=')
    script(src='/main.js')
  body
    block content