extends ../layout
block content
 section.hero.is-child.is-white.is-fullheight
   .hero-head
     .navbar
       .container
         .navbar-end
           .navbar-item
             a
               button(class='button is-danger') ปิดโปรแกรม
             a
   .hero-body
    .container.has-text-contered
     h1.subtitle ชื่อพนักงาน / name
     h2.control 
      input(type="text" class="input")