extends ../layout
block content
 section.hero.is-child.is-white.is-fullheight
            
   .hero-body
    .container.has-text-contered
     h1.subtitle ชื่อกล่อง / Tag No
     h2.control 
      input(type="text" class="input")