extends ../layout
block content
 section.hero.is-child.is-white.is-fullheight
   .hero-head
     .navbar
       .container
         .navbar-end
           .navbar-item
             a
               button(class='button is-warning') เปลี่ยนกล่อง
           .navbar-item
             a
               button(class='button is-danger') จบการทำงาน
              
   .hero-body
    .navbar-brand
     h1.subtitle ชิ้นงาน / Part No.
      table.table.is-bordered.is-striped.is-narrow.is-fullwidth
       tbody
       tr
        th 1
        th
         input(class="input" type="text")
        th 11
        th
         input(class="input" type="text")
        th 21
        th
         input(class="input" type="text")
        th 31
        th
         input(class="input" type="text")
       tr
        th 2
        th
         input(class="input" type="text")
        th 12
        th
         input(class="input" type="text")
        th 22
        th
         input(class="input" type="text")
        th 32
        th
         input(class="input" type="text")
       tr
        th 3
        th
         input(class="input" type="text")
        th 13
        th
         input(class="input" type="text")
        th 23
        th
         input(class="input" type="text")
        th 33
        th
         input(class="input" type="text")
       tr
        th 4
        th
         input(class="input" type="text")
        th 14
        th
         input(class="input" type="text")
        th 24
        th
         input(class="input" type="text")
        th 34
        th
         input(class="input" type="text")
       tr
        th 5
        th
         input(class="input" type="text")
        th 15
        th
         input(class="input" type="text")
        th 25
        th
         input(class="input" type="text")
        th 35
        th
         input(class="input" type="text")
       tr
        th 6
        th
         input(class="input" type="text")
        th 16
        th
         input(class="input" type="text")
        th 26
        th
         input(class="input" type="text")
        th 36
        th
         input(class="input" type="text")
       tr
        th 7
        th
         input(class="input" type="text")
        th 17
        th
         input(class="input" type="text")
        th 27
        th
         input(class="input" type="text")
        th 37
        th
         input(class="input" type="text")
       tr
        th 8
        th
         input(class="input" type="text")
        th 18
        th
         input(class="input" type="text")
        th 28
        th
         input(class="input" type="text")
        th 38
        th
         input(class="input" type="text")
       tr
        th 9
        th
         input(class="input" type="text")
        th 19
        th
         input(class="input" type="text")
        th 29
        th
         input(class="input" type="text")
        th 39
        th
         input(class="input" type="text")
       tr
        th 10
        th
         input(class="input" type="text")
        th 20
        th
         input(class="input" type="text")
        th 30
        th
         input(class="input" type="text")
        th 40
        th
         input(class="input" type="text")